<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="start" color="#f7f7f7">
      SKELETON
    </ion-button>
    <ion-title>Perfil</ion-title>
    
    <ion-button fill="clear" [routerLink]="['/inicio']"  slot="end" color="#ffffff">
      Volver
    </ion-button>
  
  </ion-toolbar>

  <ion-segment [(ngModel)]="segmentValue" style="background-color:aliceblue;">
    <ion-segment-button value="exp-laboral">
      <ion-label>Exp. Laboral</ion-label>
    </ion-segment-button>
    <ion-segment-button value="certificados">
      <ion-label>Certificados</ion-label>
    </ion-segment-button>
    <ion-segment-button value="mis-datos">
      <ion-label>Mis Datos</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-card-content>
 
  <!-- Componente para Exp. Laboral -->
  <app-exp-laboral *ngIf="segmentValue === 'exp-laboral'"></app-exp-laboral>

  <!-- Componente para Certificados -->
  <app-certificados *ngIf="segmentValue === 'certificados'"></app-certificados>

  <!-- Componente para Mis Datos -->
  <app-mis-datos *ngIf="segmentValue === 'mis-datos'"></app-mis-datos>

</ion-card-content>

