

<ion-content class="ion-padding">

  <img [src]="ImagenLogo()" style="width: 250px;margin-top:5px;" alt="Logo RegistrAPP">

  <ion-card >
    <ion-card-header class="centrar-contenido">
     
      <ion-card-title class="title-page" color="tertiary">Iniciar sesión</ion-card-title>
      <ion-card-subtitle>Ingresar credenciales DuocUC</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content >
      <form [formGroup]="formularioLogin">
        <ion-item> 
          <ion-label position="floating">Usuario</ion-label>
          <ion-input formControlName="usuario" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Clave</ion-label>
          <ion-input formControlName="clave" type="password" ></ion-input>
        </ion-item>
      </form>
      
    <br>
    <div class="centrar-boton">
      <ion-button [disabled]="!formularioLogin.valid" shape="round" color="tertiary" (click)="guardar()" >
        <ion-icon name="log-in-outline" slot="start"></ion-icon>
        Ingresar
      </ion-button>
    </div>
       
    <hr>
    <div class="centrar-boton">
      <ion-button fill="clear" size="small" [routerLink]="['/recuperarclave']" style="font-size: 12px;">He olvidado mi clave</ion-button>
    </div>
    </ion-card-content>
  </ion-card>

</ion-content>