
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-button class="sinsombra" slot="start" color="#f7f7f7" >
        <img [src]="ImagenLogo()" style="width: 100px;margin-top:5px;" alt="Logo RegistrAPP">
      </ion-button>
      <ion-title>Inicio</ion-title>
      
      <ion-button class="sinsombra"  (click)="logout()" slot="end" color="#ffffff">
        <ion-icon name="log-out-outline" color="tertiary"></ion-icon>
      </ion-button>
    
    </ion-toolbar>
  </ion-header>
  <ion-content > 
    <div class="ion-padding">

      <ion-chip>
        <ion-avatar>
          <img alt="Usuario" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>{{ message }}</ion-label>
        
      </ion-chip>
      
      <ion-card  style="text-align:center" class="ion-padding">
        <h4>Registrar asistencia</h4>
        <p>{{ currentDate | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
        <ion-button expand="block" color="tertiary">Escanear QR</ion-button>
      </ion-card>
    </div>
  </ion-content>
</div>



