
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-button slot="start" color="#f7f7f7" >
        <img [src]="ImagenLogo()" style="width: 100px;margin-top:5px;" alt="Logo RegistrAPP">
      </ion-button>
      <ion-title>Inicio</ion-title>
      
      <ion-button (click)="logout()" slot="end" color="#ffffff">
        <ion-icon name="log-out-outline" color="tertiary"></ion-icon>
      </ion-button>
    
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> <h3>{{ message }}</h3></ion-content>
</div>



